<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.example.ratesplatform">

    <Properties>
        <Property name="app-name" value="rates-app" />
        <Property name="log-level" value="INFO" />
        <Property name="log-dir" value="/tmp/logs" />
        <Property name="log-file-path" value="${ctx:log-dir}/${ctx:app-name}.log" />
        <Property name="log-pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} %style{%pid}{magenta} --- [%-15.15t] %style{%-40.40c{1.}}{cyan}: %m%n%ex" />
    </Properties>

    <Appenders>
        <!-- CONSOLE -->
        <Console name="console-appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${ctx:log-pattern}" disableAnsi="false" />
        </Console>

        <!-- ROLLING FILE -->
        <RollingFile
                name="daily-rolling-file-appender"
                fileName="${ctx:log-file-path}"
                filePattern="${ctx:log-dir}/%d{yyyy-MM-dd}_${ctx:app-name}.log.gz"
        >
            <PatternLayout pattern="${ctx:log-pattern}" />
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- ROOT logger -->
        <Root level="${ctx:log-level}">
            <AppenderRef ref="console-appender" />
            <AppenderRef ref="daily-rolling-file-appender" />
        </Root>

        <!-- com.example.ratesplatform log level-->
        <Logger
                name="com.example.ratesplatform" level="DEBUG">
        </Logger>
    </Loggers>
</Configuration>
